Repository SonySemiconductorSolutions/aitrios-sdk-edge-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-script-file, clang-format

.pre-commit-config.yaml:

exclude: "(third_party)"
repos:
 - repo: local
   hooks:
    - id: custom-script-file
      name: custom-script-file
      language: script
      entry: tools/check_license.sh
      files: (.*\.(c|cpp|h|hpp|fbs|sh|py)|Dockerfile|cmake|txt|Makefile)$
      exclude: "sample_apps/classification/python/imx500_classification_local_console_demo.py|sample_apps/detection/python/imx500_object_detection_local_console_demo.py"
    - id: clang-format
      name: clang-format
      description: Format files with ClangFormat.
      entry: clang-format-14
      language: system
      types_or: [c, c++]
      exclude: "(parson|schemas)"
      args: ["-i", "--style=file"]

 - repo: https://github.com/pre-commit/pre-commit-hooks
   rev: v4.4.0
   hooks:
    - id: trailing-whitespace
      exclude_types: [markdown, yaml, json]
      exclude: |
        (?x)^(
          .github/workflows/get-build-artifacts.yml|
          LICENSE|
          .devcontainer/devcontainer.json|
          .devcontainer/initializeCommand.cmd|
          .devcontainer/initializeCommand.sh
        )$
    - id: end-of-file-fixer
      exclude_types: [markdown, yaml, json]
      exclude: |
        (?x)^(
          .github/workflows/get-build-artifacts.yml|
          LICENSE|
          .devcontainer/devcontainer.json|
          .devcontainer/initializeCommand.cmd|
          .devcontainer/initializeCommand.sh
        )$

Fixed README.md.
  README.md
Due: none

Add release.yaml for making release.
  .github/workflows/release.yaml
Due: none

Modified ubuntu version.
  .github/workflows/release.yaml
Due: none

Add bin folder to build wasm module.
  bin/.gitkeep
Due: none

Update Edge App SDK 1.1.6.
  docs/tutorials/raspi_localconsole.md
Due: none

Update documentation.
  README.md
  libs/py/README.md
Due: none

Support multi-arch build for edgeapp
  Dockerfile
Due: custom-script-file

Add explanation for Execution environment
  README.md
Due: none

Improve the log for the state machine.
  libs/sm/src/sm_core.cpp
Due: custom-script-file, clang-format

Changed senscord-libcamera version to 1.0.5.
  Dockerfile
Due: custom-script-file

Add tools for fixing the release job.
  tools/check_license.sh
  tools/send_configuration.sh
  tools/virtual-machine/README.md
  tools/virtual-machine/capture_gen_tool/README.md
  tools/virtual-machine/capture_gen_tool/decode.py
  tools/virtual-machine/capture_gen_tool/encode.py
  tools/virtual-machine/memory_profile/README.md
  tools/virtual-machine/memory_profile/wasi-libmalloc/.gitignore
  tools/virtual-machine/memory_profile/wasi-libmalloc/Makefile
  tools/virtual-machine/memory_profile/wasi-libmalloc/dlmalloc/include/unistd.h
  tools/virtual-machine/memory_profile/wasi-libmalloc/dlmalloc/src/dlmalloc.c
  tools/virtual-machine/memory_profile/wasi-libmalloc/dlmalloc/src/malloc.c
  tools/virtual-machine/mock/evp/CMakeLists.txt
  tools/virtual-machine/mock/evp/mock_evp.cpp
  tools/virtual-machine/mock/evp/mock_evp.hpp
  tools/virtual-machine/mock/evp/mock_evp_wrapper.cpp
Due: custom-script-file, clang-format

Update Edge App SDK 1.4.0
  .github/workflows/cli_tool_test.yml
  CMakeLists.txt
  libs/sm/src/dtdl_model/CMakeLists.txt
  sample_apps/passthrough/README.md
  tests/edge_app/test_integration.py
  tools/edgeapp_cli/MANIFEST.in
  tools/edgeapp_cli/README.md
  tools/edgeapp_cli/colored_logger.py
  tools/edgeapp_cli/configuration.json
  tools/edgeapp_cli/edgeapp_cli.py
  tools/edgeapp_cli/mqtt.py
  tools/edgeapp_cli/pyproject.toml
  tools/edgeapp_cli/requirements.txt
  tools/edgeapp_cli/setup.py
  tools/edgeapp_cli/src/__init__.py
  tools/edgeapp_cli/src/ai_models.py
  tools/edgeapp_cli/src/interface.py
  tools/edgeapp_cli/src/modules.py
  tools/edgeapp_cli/tests/TEST_README.md
  tools/edgeapp_cli/tests/__init__.py
  tools/edgeapp_cli/tests/pytest.ini
  tools/edgeapp_cli/tests/run_tests.py
  tools/edgeapp_cli/tests/test_basic.py
  tools/edgeapp_cli/tests/test_configuration_sending.py
  tools/edgeapp_cli/tests/test_edgeapp_cli.py
  tools/edgeapp_cli/tests/test_functional.py
  tools/edgeapp_cli/tests/test_helpers.py
  tools/edgeapp_cli/tests/test_integration.py
  tools/edgeapp_cli/tests/test_requirements.txt
  tools/edgeapp_cli/webserver.py
Due: custom-script-file

Add SSL unit test.
  .github/workflows/ci.yaml
Due: none

Add SSL sample app release.
  .github/workflows/release.yaml
Due: none

Update Edge App SDK 1.5.1
  docs/api/EdgeAppLib_API_specification.md
  include/receive_data.h
  libs/nn/src/edgeapp_core.cpp
  libs/receive_data/include/receive_data_private.h
  libs/receive_data/src/CMakeLists.txt
  libs/receive_data/src/receive_data.cpp
  libs/receive_data/src/receive_data_utils.cpp
  libs/receive_data/src/receive_data_utils.h
  libs/sm/src/dtdl_model/objects/common_settings/ai_model.cpp
  libs/sm/src/dtdl_model/objects/common_settings/ai_model.hpp
  libs/tests/mocks/evp/mock_evp.cpp
  libs/tests/mocks/evp/mock_evp.hpp
  libs/tests/mocks/lp_recog_data_processor/mock_lp_recog_data_processor.cpp
  libs/tests/unit/data_export/test_data_export.cpp
  libs/tests/unit/edgeapp_core/CMakeLists.txt
  libs/tests/unit/receive_data/CMakeLists.txt
  libs/tests/unit/receive_data/test_receive_data.cpp
  sample_apps/lp_recog/README.md
  sample_apps/lp_recog/configuration/configuration.json
  sample_apps/lp_recog/data_processor/src/lp_recog_data_processor.cpp
  sample_apps/lp_recog/data_processor/tests/test_lp_recog_data_processor.cpp
  sample_apps/lp_recog/package/edge_app_lp_recog_interface.json
  sample_apps/lp_recog/src/sm.cpp
  sample_apps/lp_recog/test_data/custom_parameter.json
  sample_apps/lp_recog/tests/CMakeLists.txt
  sample_apps/lp_recog/tests/test_sm.cpp
  sample_apps/ssl/ssl/ssl_client/ssl_client_metadata.c
  tests/edge_app/test_integration.py
  tests/edge_app/utils.py
Due: custom-script-file, clang-format

Update Edge App SDK 1.5.2
  Makefile
  libs/CMakeLists.txt
  libs/nn/src/edgeapp_core.cpp
  libs/nn/src/nn.cpp
  libs/receive_data/include/receive_data_private.h
  libs/send_data/src/data_export/include/data_export_private.h
  libs/sm/src/states/running.cpp
  libs/sm/src/states/running_thread.cpp
  libs/tests/mocks/evp/mock_evp_wrapper.cpp
  libs/tests/mocks/evp/simple_evp.c
  sample_apps/lp_recog/CMakeLists.txt
  sample_apps/lp_recog/README.md
  sample_apps/lp_recog/data_processor/src/lp_recog_utils.cpp
  sample_apps/lp_recog/data_processor/tests/test_lp_recog_data_processor.cpp
  sample_apps/lp_recog/data_processor/tests/test_lp_recog_utils.cpp
  sample_apps/lp_recog/src/sm.cpp
  sample_apps/ssl/ssl/ssl_server/ssl_server.c
  tests/apitest/CMakeLists.txt
  tests/apitest/data_processor/src/CMakeLists.txt
Due: custom-script-file, clang-format

Update Edge App SDK 1.5.3
  include/edgeapp_core.h
  include/sensor.h
  libs/common/include/memory_usage.h
  libs/nn/src/edgeapp_core.cpp
  libs/receive_data/src/receive_data.cpp
  libs/sensor/src/CMakeLists.txt
  libs/sensor/src/sensor_utils.cpp
  libs/sm/src/dtdl_model/objects/common_settings/ai_models.hpp
  libs/sm/src/dtdl_model/utils.cpp
  libs/tests/mocks/send_data/mock_send_data.cpp
  libs/tests/mocks/sensor/mock_sensor.cpp
  libs/tests/mocks/sensor/testing_utils.cpp
  libs/tests/unit/common/CMakeLists.txt
  libs/tests/unit/common/test_memory_usage.cpp
  libs/tests/unit/receive_data/test_receive_data.cpp
  sample_apps/classification/data_processor/src/classification_utils.cpp
  sample_apps/detection/README.md
  sample_apps/detection/data_processor/src/detection_data_processor.cpp
  sample_apps/detection/data_processor/src/detection_utils.cpp
  sample_apps/detection/data_processor/src/detection_utils.hpp
  sample_apps/detection/data_processor/tests/test_detection_data_processor.cpp
  tests/apitest/data_processor/src/CMakeLists.txt
  tests/apitest/data_processor/src/apitest_data_processor.cpp
  tests/edge_app/CMakeLists.txt
  tests/edge_app/conftest.py
  tests/edge_app/test_integration.py
Due: custom-script-file, clang-format

Update Edge App SDK 1.6.0
  CMakeLists.txt
  docs/api/EdgeAppCore_API_specification.md
  docs/tutorials/raspi_localconsole.md
  include/draw.h
  include/edgeapp_core.h
  include/nn.h
  libs/draw/src/draw.cpp
  libs/nn/src/edgeapp_core.cpp
  libs/nn/src/nn.cpp
  libs/tests/mocks/nn/mock_edgecore.cpp
  libs/tests/mocks/nn/mock_nn.cpp
  libs/tests/mocks/nn/mock_nn.hpp
  libs/tests/unit/draw/test_draw.cpp
  libs/tests/unit/edgeapp_core/CMakeLists.txt
  libs/tests/unit/edgeapp_core/test_edgeapp.cpp
  tests/edge_app/CMakeLists.txt
  tests/edge_app/test_integration.py
  tutorials/1_develop_edge_app/README.md
  tutorials/1_develop_edge_app/README_migration_1.0.md
  tutorials/1_develop_edge_app/edge_app_interface.json
  tutorials/2_import_edge_app/README.md
  tutorials/2_import_edge_app/edge_app_manifest.schema.json
Due: custom-script-file, clang-format

Update Edge App SDK 1.6.1
  .gitmodules
  LICENSE
  docs/api/EdgeAppCore_API_specification.md
  docs/raspberry_pi_edge_app_wasm_setup.md
  include/log.h
  include/receive_data.h
  libs/nn/src/edgeapp_core.cpp
  libs/receive_data/src/CMakeLists.txt
  libs/receive_data/src/receive_data.cpp
  libs/receive_data/src/receive_data_utils.cpp
  libs/receive_data/src/receive_data_utils.h
  libs/tests/mocks/evp/mock_evp.cpp
  libs/tests/mocks/evp/mock_evp.hpp
  libs/tests/unit/receive_data/CMakeLists.txt
  libs/tests/unit/receive_data/test_receive_data.cpp
  sample_apps/lp_recog/configuration/configuration.json
  sample_apps/lp_recog/src/sm.cpp
Due: custom-script-file, clang-format
