Repository SonySemiconductorSolutions/aitrios-sdk-edge-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-script-file, clang-format

.pre-commit-config.yaml:

exclude: "(third_party)"
repos:
 - repo: local
   hooks:
    - id: custom-script-file
      name: custom-script-file
      language: script
      entry: tools/check_license.sh
      files: (.*\.(c|cpp|h|hpp|fbs|sh|py)|Dockerfile|cmake|txt|Makefile)$
      exclude: "sample_apps/classification/python/imx500_classification_local_console_demo.py|sample_apps/detection/python/imx500_object_detection_local_console_demo.py"
    - id: clang-format
      name: clang-format
      description: Format files with ClangFormat.
      entry: clang-format-14
      language: system
      types_or: [c, c++]
      exclude: "(parson|schemas)"
      args: ["-i", "--style=file"]

 - repo: https://github.com/pre-commit/pre-commit-hooks
   rev: v4.4.0
   hooks:
    - id: trailing-whitespace
      exclude_types: [markdown, yaml, json]
      exclude: |
        (?x)^(
          .github/workflows/get-build-artifacts.yml|
          LICENSE|
          .devcontainer/devcontainer.json|
          .devcontainer/initializeCommand.cmd|
          .devcontainer/initializeCommand.sh
        )$
    - id: end-of-file-fixer
      exclude_types: [markdown, yaml, json]
      exclude: |
        (?x)^(
          .github/workflows/get-build-artifacts.yml|
          LICENSE|
          .devcontainer/devcontainer.json|
          .devcontainer/initializeCommand.cmd|
          .devcontainer/initializeCommand.sh
        )$

Update Edge App SDK 1.6.2
  include/sensor.h
  libs/sm/src/dtdl_model/objects/common_settings/pq_settings/frame_rate.cpp
  libs/sm/src/sm_api.cpp
  libs/tests/unit/sm/dtdl_model/test_frame_rate.cpp
  sample_apps/lp_recog/README.md
Due: custom-script-file, clang-format

Update Edge App SDK 1.6.3
  .github/workflows/release.yaml
  libs/nn/src/edgeapp_core.cpp
  libs/send_data/src/data_export/src/data_export.cpp
  libs/sm/src/dtdl_model/objects/common_settings/port_setting.cpp
  libs/sm/src/dtdl_model/objects/common_settings/port_settings.cpp
  libs/sm/src/dtdl_model/objects/common_settings/port_settings.hpp
  libs/tests/unit/data_export/test_data_export.cpp
  libs/tests/unit/receive_data/test_receive_data.cpp
  libs/tests/unit/sm/dtdl_model/test_common_settings.cpp
  libs/tests/unit/sm/dtdl_model/test_port_settings.cpp
  sample_apps/classification/package/manifest.json
  sample_apps/detection/package/manifest.json
  sample_apps/posenet/package/manifest.json
  tutorials/2_import_edge_app/README.md
  tutorials/2_import_edge_app/edge_app_manifest.schema.json
Due: custom-script-file, clang-format

Update Edge App SDK 1.6.4
  include/edgeapp_core.h
  libs/nn/src/edgeapp_core.cpp
  libs/sensor/src/sensor.cpp
  libs/sm/src/dtdl_model/objects/common_settings/pq_settings.hpp
  libs/tests/mocks/sensor/mock_sensor.cpp
Due: custom-script-file, clang-format

Update Edge App SDK 1.6.5
  README.md
  libs/send_data/src/process_format/process_format.cpp
  libs/send_data/src/send_data.cpp
  libs/sensor/src/sensor.cpp
  libs/sm/src/dtdl_model/objects/common_settings/pq_settings/frame_rate.cpp
  libs/sm/src/sm_api.cpp
  libs/tests/unit/sm/dtdl_model/test_frame_rate.cpp
Due: custom-script-file, clang-format

Update Edge App SDK 1.6.6
  Dockerfile
  Makefile
  include/edgeapp_core.h
  libs/nn/src/edgeapp_core.cpp
  libs/tests/mocks/sensor/mock_sensor.cpp
  libs/tests/mocks/sensor/mock_sensor.hpp
  libs/tests/unit/edgeapp_core/test_edgeapp.cpp
  sample_apps/lp_recog/src/sm.cpp
  tests/edge_app/resources/pepper.png
  tests/edge_app/test_opencv_resize.py
Due: custom-script-file, clang-format

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Add a fbs compile script.
  tools/compile_fbs.sh
Due: custom-script-file

Update Edge App SDK 1.6.8
  libs/nn/src/edgeapp_core.cpp
  libs/sm/src/dtdl_model/objects/common_settings.cpp
  libs/tests/mocks/data_processor_api/mock_data_processor_api.cpp
  libs/tests/mocks/data_processor_api/mock_data_processor_api.hpp
  libs/tests/mocks/evp/simple_evp.c
  libs/tests/mocks/sensor/mock_sensor.cpp
  libs/tests/unit/edgeapp_core/test_edgeapp.cpp
  sample_apps/classification/src/sm.cpp
  sample_apps/detection/configuration/configuration.json
  sample_apps/detection/data_processor/src/detection_data_processor.cpp
  sample_apps/detection/data_processor/src/detection_utils.hpp
  sample_apps/detection/package/edge_app_od_interface.json
  sample_apps/detection/src/sm.cpp
  sample_apps/detection/tests/CMakeLists.txt
  sample_apps/lp_recog/configuration/configuration.json
  sample_apps/lp_recog/data_processor/src/lp_recog_data_processor.cpp
  sample_apps/lp_recog/data_processor/src/lp_recog_utils.hpp
  sample_apps/lp_recog/package/edge_app_lp_recog_interface.json
  sample_apps/lp_recog/src/sm.cpp
  sample_apps/posenet/src/sm.cpp
  sample_apps/segmentation/src/sm.cpp
  tests/edge_app/CMakeLists.txt
  tests/edge_app/constants.py
  tests/edge_app/opencv.supp
  tests/edge_app/state_checker.py
  tests/edge_app/utils.py
Due: custom-script-file, clang-format

Update Edge App SDK 1.6.9
  .pre-commit-config.yaml
  README.md
  docs/api/EdgeAppLib_API_specification.md
  docs/get_started/index.md
  libs/send_data/src/data_export/src/data_export.cpp
  sample_apps/detection/src/sm.cpp
  sample_apps/detection/tests/test_sm.cpp
  sample_apps/lp_recog/README.md
  tests/edge_app/README.md
Due: custom-script-file, clang-format
